@import url("../../assets/css/common.css");

.about_info {
  width: 95%;
  padding: 1em 0em;
}
.about_info h2 {
  font-size: 2.5em;
  margin: 0.5em;
  font-weight: 600;
}
.about_info p {
  margin: 0.5em;
  text-transform: capitalize;
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}
.btn {
  letter-spacing: 1.6px;
  background-color: var(--secondary-color);
  padding: 0.6em;
  margin: 0.6em;
  border: none;
  outline: none;
}
.btn i {
  padding: 0 0.5em;
}
.btn:hover {
  background-color: var(--button-hover);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .about_info h2 {
    font-size: 1.5em !important;
    text-align: center;
    padding-bottom: 1em;
  }
  .about_info {
    font-size: 1em !important;
  }
  .resume_btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills_col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
