@import url("../../assets/css/common.css");

.hero_text {
  padding: 1em;
  font-size: 1em;
  font-weight: 800;
}
.hero_text h1 {
  font-size: 2em;
  font-weight: 800;
  color: var(--hero-text-title-color);
}
/* Hero Img */
.img_wrapper {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_img img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.5rem solid var(--secondary-color);
}
.hero_wrapper {
  margin: 0;
  padding: 0;
  height: calc(100vh - 60px);
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
