:root {
  --nav-bg-color: white;
  --hero-text-title-color: #002057;
  --secondary-color: rgb(110, 40, 220);
  --button-hover: rgb(130, 80, 230);
  --border-color: rgba(146, 161, 176, 0.3);
  --border-bg-color: rgba(255, 255, 255, 0.1);
  --project-card-body: #1f3d4738;
}

.content_wrapper {
  margin: 0;
  padding: 0;
  height: calc(100vh - 60px);
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
