@import url("../../assets/css/common.css");
.project_card {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  border: 0.5rem solid var(--border-color);
  box-shadow: 0.1 20px 20px var(--border-color);
  background: var(--border-bg-color);
  margin: 1em;
}
.project_card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.project_card_body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.project_card:hover .project_card_body {
  right: 0;
}

.project_card_title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 1em;
  text-align: center;
}
/* .card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
  }
  .card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
  } */

.project_card_btn {
  color: #1f3d47;
  background: #8fabba;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}
