@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.test {
  border: 1px solid red;
}
.test2 {
  border: 1px solid blue;
}
.test2 {
  border: 1px solid greenyellow;
}

section {
  min-height: 100vh;
  padding-top: 60px;
}
body {
  position: relative;
  background-image: url("./assets/images/background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
